@model User
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <form asp-action="Index" method="post" >
        <input asp-for="UserName"  />
        <input asp-for="Email" />
        <input asp-for="Password" />

        <input type="submit" name="name" value="Login" id="button"/>
    </form>
</div>
